<header>
    <div class="p-3 mx-40 w-4/5 bg-indigo-500 rounded-b grid">
        <button class="w-5 col-start-12 bg-yellow-200 rounded" phx-click="inc-size">+</button>
        <button class="w-5 col-start-13 bg-yellow-200 rounded" phx-click="dec-size">-</button>
    </div>
</header>

<main>
    <%= @inner_content %>
</main>