<h1 class="p-4">Hello in katalog<b> <%= @katalog %> </b></h1>

<div class="p-4">
    <%= for book <- Books.list_katalog(assigns.katalog) do %>
        <div>
        <%= book.author %> -
        <b> <%= book.title %> </b>
        </div>
    <% end %>
</div>